.status-card {
    padding: 1em;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    border-radius: 0.5em;
    border: 2px solid;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.tablet-status {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tablet-status .status-red,
.tablet-status .status-blue {
    display: flex;
    width: 50em;
    gap: 1em;
}

.status-red .status-card {
    background-color: #d823233f;
    border-color: #d82323;
}

.status-blue .status-card {
    background-color: #2352d83f;
    border-color: #2352d8;
}

/* 
.status-line {
    margin: 1em 0;
} */

.status-line::before {
    content: "\200b";
}

.team-number {
    /* margin: 0.25em; */
    padding: 0.5em;
    background-color: #0000002f;
    border-radius: 0.5em;
    font-size: 1.25em;
}

.scouter-name {
    font-weight: bold;
}

.battery.low {
    color: yellow;
}

.battery.noconnect,
.batery.verylow {
    color: red;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 12;
    font-size: 1em !important;
    vertical-align: bottom;
    margin: 0 0.2em;
}

.match-status {
    width: 40em;
}

.match-status td {
    text-align: center;
    /* --fg-color:  */
}

.match-status .status-red {
    background-color: #7f0000;
}

.match-status .status-blue {
    background-color: #00007f;
}

.match-status .status-red.submitted {
    background-color: #ff0000;
}

.match-status .status-blue.submitted {
    background-color: #0000ff;
}

.match-status .required {
    background-color: orange;
}

.match-status .status-red.required {
    color: red;
}

.match-status .status-blue.required {
    color: blue;
}

.match-status .self {
    background-color: green;
}

.match-status .selected td {
    background-color: #7f7f00;
}


/* .conflict {

} */
