@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/droidiga');

body {
  background-color: #63a963;
  
}

main {
  text-align: center;
  --accent-1: white;
  --accent-4: #003800;
  --background-1: #255025;
  --main-green: #085f00;
  --light-green: #83c183;
  --accent-default: var(--accent-3);
  --bg-color: var(--background-1);
  text-align: center;
  font-family: system-ui;
}

h1 {
  font-family: Droidiga;
  font-size: 20px;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  padding-bottom: 30px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.popupButton {
  font-size: 17px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 500;
  background-color: #000000;
  color: white;
  height: 40px;
  border: none;
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
  width: 150px;
}

.hiddenDropdown {
  background-color: #000000;
  border-radius: 10px;
  width: 150px;
  height: 110px;
  padding: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
  
}

.dropdownButtons {
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 900;
  display: inline;
  margin: 0 auto;
  color: black;
  border: none;
  margin: 5px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;

}

.dropdownButton:hover {
  background-color: gray;
}

.dropdownButton:active {
  background-color: var(--accent-4);
}


.dropdownContinue,
.popupClose,
.addStat, 
.exitButton {
  font-size: 15px;
  display: block;
  margin: 15px auto;
  border: 0px;
  border-radius: 15px;
  width: 150px;

}

.addStat {
  background-color: #255025;
  color: white;
  width: fit-content;
  padding: 10px;
  margin-bottom: 0px;

}

.addStatBox {
  width: 100%;
}

.dropdownContinue {
  background-color: #83c183;
  color: black;
  font-weight: 600;
  padding: 5px;
  width: fit-content;
}

.dropdownContinue:active {
  background-color: black;
}

.popupClose, .exitButton {
  color: white;
  background-color: #085f00;
  width: 120px;
  padding: 10px;
  display: inline;
  margin: 5px;
  margin-top: 10px;
  
}

.popupClose {
  background-color: #085f00;
  position: relative;
  left: 85px;
  top: 15px;
  margin-bottom: 20px;
  

}

.exitButtonMain, .exitButton {
  background-color: rgba(210, 49, 49, 0.763);
  height: 20px;
  margin: 5px;
  padding: 2px;
  font-size: 15px;
  position: absolute;
  left: 145px;
  top: 5px;
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 50px;
}

.exitButton {
  left: 265px;
  top: 5px;
  width: 40px;

}

.exitButtonMain {
  left: 127px;
  top: 2px;
  width: 30px;
  font-size: 15px;
}


.bottomButtons { 
  margin: 0 auto;
  width: fit-content;

  
}


.addFactor{
  background-color: rgb(0, 170, 255);
  margin: 5px;
  position: absolute;
  left: 140px;
  height: 100px;
  margin-top: 25px;
  padding: 2px;
  font-size: 15px;
  border-radius: 100px;
  border: none;
  height: 25px;
  width: 35px;
  margin-top:65px;
  
}

.popup {
  background-color: black;
  border-radius: 15px;
  width: 300px;
  height: fit-content;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.popupContent {
  width: fit-content;
  margin: 0 auto;

}

.popup-content{
  margin: 0 !important;
}

.popupContent-Stat,
.popupContent-Weight {
 display: inline-block;
 padding: 5px; 
 /* background-color: blue; */
 width: 120px !important;
}

.popupContent-Stat {
  width: 150px;
  height: 45px;
}

.popupContent-Stat .popupLabel {
  margin-left: 28%;
  width: 150px;
}

.popupContent-Stat .popupInput {
  width: 130px;
  height: 20px;
  margin: 2px;
  margin-left: 6%;
  
}

.popupContent-Weight {
  width: 80px;
  height: 45px;
}

.popupContent-Weight .popupLabel {
  margin-left: 22.5%;
  width: 100px;
}

.popupContent-Weight .popupInput {
  width: 50px;
  margin: 2px;
  margin-left: 22.5%;
}

.removeFactor{
  background-color: rgba(248, 23, 23, 0.854);
  margin: 5px;
  position: absolute;
  left: 250px;
  height: 20px;
  margin-top: 25px;
  padding: 2px;
  font-size: 15px;
  border-radius: 100px;
  border: none;
  height: 25px;
  width: 35px;
}


.popupHeader {
  /* color:#085f00; */
  color: #83c183;
  font-size: 23px;
  font-weight: 650;
  width: fit-content;
  margin: 0px auto 10px;
  padding: 5px;
}

.popupLabel,
.popupLabelLast {
  color: white;
  font-weight: 500;
}

.popupInput,
.popupInputLast {
  color: black;
}

.popupLabel,
.popupInput {
  margin-bottom: 15px;
}



table,
th,
td {

  border: 2px solid;
}

table {
  background-color: orange;
  border: 5px black solid;
  border-collapse: collapse;
}

.test1 {
  background-color: purple;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0 auto;

}
