body {
    background-color: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    min-height: 100vh;
    padding: 2em;
    box-sizing: border-box;
}

.section {
    padding: 1em;
    background-color: #eee;
    border-radius: 1em;
}

column.columns > div {
    margin: 0.5em 0;
}

.columns {
    column-count: auto;
    column-width: 16em;
}

h1, h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2 {
}

input[type="number"] {
    margin-right: 0.5em;
}

input[type="number"], .field {
    width: 3em;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5em;
    background-color: #ccc;
    border: none;
}

input[type="number"]:focus {
    background-color: #d7d7d7;
}

.field {
    margin: 0.5em auto;
    font-size: 2em;
}

button {
    background-color: #ccc;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    display: block;
    margin: auto;
}

button:hover {
    background-color: #bbb;
}

button:active {
    background-color: #aaa;
}
