/* General */

:root {
  --accent-1: white;
  --accent-4: #003800;
  --background-1: #085f00d2;
  --accent-default: var(--accent-3);
  --bg-color: var(--background-1);
  text-align: center;
  font-family: system-ui;
}

.textArea {
  background-color: #ecf2eb;
  min-width: 300px;
  min-height: 100px;
  padding: 20px;
  margin: 20px;
}

body {
  margin: 0;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

/* Titles, Headers, & Labels */

.page-title {
  color: white;
  font-size: 25px;
  font-style: italic;
}

.section-label {
  color: black;
  font-size: 40px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.itemLabel {

  font-size: 20px;
  font-weight: 500;
}

/* Inputs */
input[type="checkbox"] {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  width: 50px;
  height: 20px;
  font-size: 15px;
  display: inline;
}

input[type="radio"] {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  width: 50px;
  height: 20px;
  cursor: default;
  display: inline;

}

/* This input is for the counters */
input[type="number"] {
  display: inline !important;
  background-color: var(--accent-1);
  width: 100px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  border-color: gray;
  margin-top: 10px;

}


.submit-button {
  background-color: #83c183;
  width: 400px;
  height: 40px;
  font-size: 25px;
  margin: 25px;
  border-radius: 30px;
  font-family: system-ui;

}

.save-button,
.download-button,
.clear-button,
.noshow,
.nonSubmit .number-on,
.nonSubmit .number-off,
.noshow,
.nonSubmit .number-on,
.nonSubmit .number-off {

  color: black;
  font-size: 15px !important;
  font-weight: 700;
  display: inline !important;
  width: 170px;
  height: 40px !important;
  border: none;
  border-radius: 30px;
  margin: 15px;
}

.save-button {
  background-color: #83c183;
}

.download-button {
  background-color: rgba(0, 183, 255, 0.637);
}

.clear-button {
  background-color: rgba(255, 0, 0, 0.637);
}

.nonSubmit {
  background-color: gray;
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

.reminder {
  font-size: 15px;
  color: white;
  font-weight: 600;
  padding: 1px;
}



select {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  display: block;
  width: 250px;
  height: 40px;
  font-size: 30px;
  margin: 0 auto;
  border-radius: 3.5px;


}

input[type="text"] {
  border-color: black 1.5px solid;
  border-radius: 3.5px;
  color: black;
  display: block;
  width: fit-content;
  margin: 10px auto 10px;
  padding: 5px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

::placeholder {
  width: fit-content;
  color: gray;
  height: auto;
  font-size: 20px;
  font-style: italic;
  font-family: system-ui;
  text-align: center;

}

/* Buttons */

.chonk {
  display: inline !important;
  align-self: auto;
  width: 80px !important;
  height: 65px !important;
  font-size: 50px !important;

  background-color: #003800;

}

input[type=button].chonk {
  background-color: #cad3c8;
  border-width: 2px;
  border-color: #83c183;
  cursor: default;

}

input[type="button"] {
  border-color: var(--accent-3);
  display: block;
  height: 80px;
  font-size: 15px;
  cursor: default;

}


.radioButtons {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;

}

#QRCode {
  padding: 20px;
  background-color: white;
}

.container {
  height: 200px;
  width: 250px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 200%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.number-on {
  color: green;
  margin: 0 auto;

}

.number-off {
  color: black;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.label-size {
  font-size: 25px;
}

.bullet-points {
  width: 400px;
  margin: auto;
  text-align: left;
  font-size: 25px;
}

.align-radio {
  display: inline-flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(8, 95, 0, 0.542);
  font-size: 20px;
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 5000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 25px;
  font-weight: 500;
}

li a:hover {
  background-color: #111;
}

.connectionIndicator {

  font-weight: 700;
  font-size: 15px;
  color: black;
  width: 120px;
  height: 110px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0 auto;
  padding-top: 15px;
  border-radius: 15px;

}

.check2 {
  width: 50px;
  height: 20px;
  border-left: 10px solid lightgreen;
  border-bottom: 10px solid lightgreen;
  transform: rotate(-45deg);
  margin-left: 30%;
  margin-top: 30%;
  position: absolute;
}

.x2:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  font-size: 50px;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  margin-top: 150%;
  margin-left: 5%;
}

iframe {
  display: none;
}

.connerror {
  color: red;
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 10px 0;
}

.allianceSelect .number-off,
.align-radio .number-off,
.ToggleButton .number-off {
  background-color: #93c093;
  color: white;
}

.allianceSelect .number-on,
.align-radio .number-on,
.ToggleButton .number-on {
  background-color: green;
  color: black;
  font-weight: 900;
  border: 3px black solid;
}

.textInput {
  width: 300px !important;
  height: 40px !important;
  font-size: 20px !important;
}

.number-on,
.number-off {
  display: inline !important;
  width: 100px;
  font-size: 40px;
  text-align: center;
  border-radius: 7px;
}

.ToggleButton .number-on,
.ToggleButton .number-off {
  width: 150px;
}


.align-radio .number-on,
.align-radio .number-off {
  width: 165px;
}

.teamSearch {
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.check {
  width: 50px;
  height: 20px;
  border-left: 10px solid green;
  border-bottom: 10px solid green;
  transform: rotate(-45deg);
  margin-left: 80%;
  margin-bottom: 40%;
  position: absolute;
}

.test {
  padding-top: 90px;
}

.version {
  color: #ccc
}

.nonSubmit .number-off {
  color: #111;
  background-color: #ddd;
}

.mobility .number-on {
  background-color: green;
  color: black;
  font-weight: 900;
  border: 3px black solid;
  width: 180px;
}

.mobility .number-off {
  background-color: #83c183;
  width: 180px;
  color: white;
}

.cubes {
  background-color: rgb(180, 81, 251);
  padding: 20px;
  border-radius: 10px;
}

.cones {
  background-color: rgb(253, 210, 39);
  padding: 20px;
  border-radius: 10px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid white;
  margin: left;
  display: inline-block;
  margin-right: 10px;
}

.square {
  height: 50px;
  width: 50px;
  background-color: white;
  margin: left;
  margin-right: 10px;
  display: inline-block;
}

.conecube {
  margin: auto;
}

/* input[type=Multibutton] {
  background-color: red;
} */

/* .showalliance {
  display: left;
} */
