/* General */

:root {
  --accent-1: white;
  --accent-4: #003800;
  --background-1: #085f00d2;
  --accent-default: var(--accent-3);
  --bg-color: var(--background-1);
  text-align: center;
  font-family: system-ui;
}

.textArea {
  background-color: #ecf2eb;
  min-width: 300px;
  min-height: 100px;
  padding: 20px;
  margin: 20px;
}

body {
  margin: 0;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

/* Titles, Headers, & Labels */

.page-title {
  color: white;
  font-size: 25px;
  font-style: italic;
}

.section-label {
  color: black;
  font-size: 40px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.itemLabel {

  font-size: 20px;
  font-weight: 500;
}

/* Inputs */
input[type="checkbox"] {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  width: 50px;
  height: 20px;
  font-size: 15px;
  display: inline;
}

input[type="radio"] {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  width: 50px;
  height: 20px;
  cursor: default;
  display: inline;

}

/* This input is for the counters */
input[type="number"] {
  display: inline !important;
  background-color: var(--accent-1);
  width: 100px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  border-color: gray;
  margin-top: 10px;

}

.save-button,
.submit-button {
  background-color: #83c183;
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-block;
  width: 300px;
  height: 35px;
  font-size: 20px;
  margin: 15px;
}



select {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  display: block;
  width: 200px;
  height: 40px;
  font-size: 25px;
  margin: 0 auto;
}

input[type="text"] {
  border-color: #003800;
  color: black;
  display: block;
  width: fit-content;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: 40px;

}

::placeholder {
  width: fit-content;
  color: gray;
  height: auto;
  font-size: 20px;
  font-style: italic;
  font-family: system-ui;
  text-align: center;

}

/* input[type="text"],
 input::placeholder {
   
 } */

/* Buttons */

.chonk {
  display: inline !important;
  align-self: auto;
  width: 100px !important;
  height: 75px !important;
  font-size: 50px !important;
  /* margin-left: 100; */

  background-color: #003800;

}

input[type=button].chonk {
  background-color: #cad3c8;
  border-width: 2px;
  border-color: #83c183;
  cursor: default;

}

input[type="button"] {
  border-color: var(--accent-3);
  /* background-color: var(--accent-2); */
  display: block;
  height: 80px;
  font-size: 20px;
  cursor: default;

}


.radioButtons {
  /* display: inline-block;
   text-align: left;
   cursor: default; */
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;

}

#QRCode {
  padding: 20px;
  background-color: white;
}

.container {
  height: 200px;
  width: 250px;

  position: relative;
  /* border: 3px solid green;  */
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 200%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.number-on {
  color: green;
  margin: 0 auto;

}

.number-off {
  color: black;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.label-size {
  font-size: 25px;
}

.bullet-points {
  width: 400px;
  margin: auto;
  text-align: left;
  font-size: 25px;
}

.align-radio {
  /* display: inline-block;
   text-align: left;
   list-style-type: none; */
  display: inline-flex;
  /* justify-content: flex-start;
	margin:auto;
  text-align: center;
  width: 34%; */
}


.submit-button {
  width: 500px;
  font-size: 30px;
  margin: 20px;
  height: 40px;

}


select {
  width: 500px;
  height: auto;
  font-size: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(8, 95, 0, 0.542);
  font-size: 20px;
  font-weight: 300;
  position: fixed;
  top: 0;
  width: fit-content;
  margin: 0 auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

iframe {
  display: none;
}


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 10px 0;
}

.allianceSelect .number-off,
.align-radio .number-off,
.ToggleButton .number-off {
  background-color: #93c093;
  color: white;
}

.allianceSelect .number-on,
.align-radio .number-on,
.ToggleButton .number-on {
  background-color: green;
  color: black;
  font-weight: 900;
  border: 3px black solid;
}

.textInput {
  width: 300px !important;
  height: 40px !important;
  font-size: 20px !important;
}

.number-on,
.number-off {
  display: inline !important;
  width: 100px;
  font-size: 50px;
  text-align: center;
  border-radius: 7px;
}


.align-radio .number-on,
.align-radio .number-off {
  width: 150px;
}