 :root {
   --accent-1: white;
   --accent-4: #003800;
   /* --background-1: linear-gradient(180, #58a163, #ffffff);  */
   --background-1: #58a163;
   --accent-default: var(--accent-3);
   --bg-color: var(--background-1);
   text-align: center;
 }

 .page-title {
   color: white;
   font-size: 25px;
   font-style: italic;
   font-weight: 300;
 }

 ::placeholder {
    color: gray;
    font-size: 20px;
    font-style: italic;
    text-align: center;
 }

 .section-label {
   color: black;
   font-size: 30px;
   font-weight: bold;
   margin: 20px;
   
 }

 .item-label, .item-label2 {
   color: black;
   font-size: 20px; 
   
   display: inline-block;
 }
 .item-label2{
  margin-bottom:20px;
  margin-top: 10px;
 }
 .dropdown{
  border-color:#085f00;
  border-width: 50px;
 }
 .textInput{
  border-color:#085f00;
  border-width: 50px;
 }
.numberInput{
  border-color:#085f00;
  border-width: 50px;
  margin:10px;
 }
 
 .textArea{
   background-color: #ecf2eb;
   min-width: 300px;
   min-height: 100px;
   padding: 25px;
   margin: 0px 100px;
 }

 body {
   margin: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 100;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: var(--bg-color);
   color: var(--accent-1);
 }

 button {
   border-color: var(--accent-3);
   background-color: var(--accent-2);
   display: block;
   width: 20%;
   height: 50px;
   float: left;
   font-size: 20px;
   padding: 10px;
   margin: 10px;
   
 }

 input[type="button"] {
   border-color: var(--accent-3);
   background-color: var(--accent-2);
   display: block;
   width: 30;
   height: 40px;
   font-size: 20px;
 }

 select {
   border-color: var(--accent-3);
   background-color: var(--accent-1);
   display: block;
   width: 200px;
   height: 40px;
   font-size: 25px;
   margin: 0 auto;
 }

 input[type="text"] {
   border-color: #003800;
   /* background-color: var(--accent-1); */
   color: black;
   display: block;
   width: fit-content;
   height: 30px;
   font-size: 20px;
   margin: 0 auto;
   margin-bottom: 20px;
  
   
   
 }

 .chonk {
   display: inline !important;
   width: 100px !important;
   height: 75px !important;
   font-size: 50px !important;
    background-color:#003800;

 }
 input[type = button].chonk{
  background-color:#cad3c8;
  border-width: 2px;
  border-color:  #83c183;
 }

 input[type="checkbox"] {
   border-color: var(--accent-3);
   background-color: var(--accent-1);
   width: 10%;
   height: 20px;
   font-size: 15px;
   display: inline;
 }

 input[type="radio"] {
   border-color: var(--accent-3);
   background-color: var(--accent-1);
   width: 50px;
   height: 20px;
   display: inline;

 }

 input[type="number"] {
   display: inline !important;
   background-color: var(--accent-1);
   width: 100px !important;
   height: 75px !important;
   font-size: 50px;
   text-align:center;
   border-color: gray;
 }

 .SAVE, .CLEAR {
   display: inline-block;
   width: 300px;
   height: 35px;
   font-size: 20px;
   margin: 15px;
 }
 
 .SAVE {
   background-color: #83c183;
   margin-top: 30px;
   margin-bottom: 10px;

 }
 
 .CLEAR {
   border-color: var(--accent-3);
   background-color: red; /*Make this color better*/
 }

 .savept2 {
   display: inline-block;
   width: 250px !important;
   height: 35px;
   font-size: 25px;
   border-color: var(--accent-3);
   background-color: var(--accent-2);
 }

 .radioButtons {
   display: inline-block;
   text-align: left;
 }

 #QRCode {
   padding: 20px;
   background-color: white;
 }

 /* .leftSide{
  color: red;
  font-size: 50px;
  font-weight: 300;
  background-color: yellow;
  min-width: 400px;
 }
 .rightSide{
  color: yellow;
  font-size: 50px;
  font-weight: 300;
  background-color: red;
  min-width: 400px;
 } */

 .gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 10px 0;
  
  
}