.App {
  text-align: center;
  font-size: 100;
}

.App-header {
  background-color: white;
  min-height: 10px;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}
.section-header {
  background-color: green;
  height: 650px;
  color: black;
}