.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}
