 :root {
   --accent-1: white;
   /* --accent-2: #59aa59;
  --accent-3: #005f00; */
   --accent-4: #003800;
   --background-1: #085f00;
   /*--background-2: */
   --background-3: #ecf2eb;
   --accent-default: var(--accent-3);
   --bg-color: var(--background-1);
   text-align: center;
 }

 .page-title {
   color: gray;
   font-size: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: italic;
 }

 .section-label {
   color: white;
   font-size: 30px;
   font-weight: bold;

   font-family: 'Lucida Sans',
   'Lucida Sans Regular',
   'Lucida Grande',
   'Lucida Sans Unicode',
   Geneva,
   Verdana,
   sans-serif,
   bolded {
     font-weight: bold;
   }
 }

 .item-label {
   color: black;
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: inline-block;
 }

 /* Standard area formatting, with testing color (orange). USE WHEN MAKING A NEW <DIV></DIV> OR SECTION
.area {
  background-color: orange;
  height: 130px;
  min-width:300px;
  padding:30px;
  margin: 10px;
}*/
 .areaSI,
 .areaPG,
 .areaAU,
 .areaTE,
 .areaEG,
 .areaSaP {
   background-color: #ecf2eb;
   min-width: 300px;
   padding: 25px;
   margin: 20px;
 }

 .areaSI {
   height: 260px;
 }

 .areaPG {
   height: 280px;
 }

 .areaAU {
   height: 380px;
   color:#b0c0b0;
 }

 .areaTE {
   height: 550px;
 }

 .areaEG {
   height: 400px;
   color: black;
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .areaSaP {
   height: 650px;
 }

 body {
   margin: 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 100;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: var(--bg-color);
   color: var(--accent-1);
 }

 button {
   border-color: var(--accent-3);
   background-color: var(--accent-2);
   display: block;
   width: 20%;
   height: 50px;
   float: left;
   font-size: 20px;
   padding: 10px;
   margin: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 input[type="button"] {
   border-color: var(--accent-3);
   background-color: var(--accent-2);
   display: block;
   width: 30;
   height: 40px;
   font-size: 20px;
 }

 select {
   border-color: var(--accent-3);
   background-color: var(--accent-1);
   display: block;
   width: 200px;
   height: 40px;
   font-size: 25px;
   margin: 0 auto;
 }

 input[type="text"] {
   border-color: var(--accent-3);
   /* background-color: var(--accent-1); */
   color: #b0c0b0;
   display: block;
   width: 17%;
   height: 25px;
   font-size: 20px;
   margin: 0 auto;

 }

 .chonk {
   display: inline !important;
   width: 100px !important;
   height: 75px !important;
   font-size: 50px !important;
  background-color:#003800;

 }
 input[type = button].chonk{
  background-color:#cad3c8;


 }

 input[type="checkbox"] {
   border-color: var(--accent-3);
   background-color: var(--accent-1);
   width: 10%;
   height: 20px;
   font-size: 15px;
   display: inline;
 }

 input[type="radio"] {
   border-color: var(--accent-3);
   background-color: var(--accent-1);
   width: 50px;
   height: 20px;
   display: inline;
 }

 input[type="number"] {
   display: inline !important;
   background-color: var(--accent-1);
   width: 100px !important;
   height: 75px !important;
   font-size: 50px;
   text-align:center
 }

 .SAVE {
   display: inline-block;
   width: 300px;
   height: 35px;
   font-size: 20px;
   border-color: var(--accent-3);
   background-color: var(--accent-2);
   margin: 15px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
.BlackBar {
}




 .savept2 {
   display: inline-block;
   width: 250px !important;
   height: 35px;
   font-size: 25px;
   border-color: var(--accent-3);
   background-color: var(--accent-2);
 }

 .radioButtons {
   display: inline-block;
   text-align: left;
 }

 #QRCode {
   padding: 20px;
   background-color: white;
 }