:root {
  --accent-1: #b2daa1;
  --accent-2: #59aa59;
  --accent-3: #005f00;
  --accent-4: #003800;
  --background-1: #000000;
  /*--background-2: */
  --background-3: #253c40;
  --accent-default: var(--accent-3);
  --bg-color: var(--background-1); 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color:var(--accent-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-color: var(--accent-3);
  background-color:var(--accent-2);
  display: block;
  width: 20%;
  float: left;
  height: 70px;
  font-size: 55px;
}

input[type="button"] {
  border-color: var(--accent-3);
  background-color:var(--accent-2);
  display: block;
  width:59;
  height:40px;
  font-size:20px;
}


select {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  display: block;
  width:200px;
  height:40px;
  font-size:25px;
   }

  input[type="text"] {
    border-color: var(--accent-3);
    background-color: var(--accent-1);
    display: block;
    width:20%;
    height:30px;
    font-size:25px;
  }

.chonk{
  display:inline !important;
  width: 100px !important;
  height: 75px !important;
  font-size:50px !important;
}

input[type="checkbox"] {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  width:10%;
  height:20px;
  font-size:15px;
  display: inline;
}

input[type="radio"] {
  border-color: var(--accent-3);
  background-color: var(--accent-1);
  width:50px;
  height:20px;
  display: inline;
}

input[type="number"] {
  display:inline !important;
  background-color: var(--accent-1);
  width: 100px !important;
  height: 75px !important;
  font-size:50px;
}

label {
  font-size:30px;
}

h2 {
  font-size:50px;
}

.SAVE {
  display:inline;
  width: 15%;
  height: 35px;
  font-size:25px;
  border-color: var(--accent-3);
  background-color:var(--accent-2);
}

.savept2 {
  display:inline;
  width: 250px !important;
  height: 35px;
  font-size:25px;
  border-color: var(--accent-3);
  background-color:var(--accent-2);
}