name: Deploy React to gh-pages

on:
  push:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./PitScouting

    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: PitScouting/package-lock.json
      
      - run: npm ci
      
      - name: Build app
        run: PUBLIC_URL=https://4201VitruvianBots.github.io/ScoutingApp2023 npm run build
      
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v1.0.4
        with:
          # Path of the directory containing the static assets.
          path: PitScouting/build
  
  deploy:
    runs-on: ubuntu-latest
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
